.Sidebar {
  max-width: 218px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: #FFFFFF; 
  /* background-color: var(--main-bg); */
  box-shadow: var(--box-shadow);
}

.Sidebar__logo {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Sidebar__logo > img {
  height: 45px;
  margin-right: 1rem;
}

.Sidebar__item {
  padding: 10px 0 10px 28px;
}

.Sidebar__item:hover {
  background: linear-gradient(90deg, #ACA9FF 0%, rgba(172, 169, 255, 0) 91.25%);
  border-radius: 0px 5px 5px 0px;
}

.Sidebar__itemInner {
  gap: 14px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color .3s ease 0s;
}

.Sidebar__itemInner > span {
  text-transform: capitalize;
  letter-spacing: 1px;
}

.Sidebar__itemInner:hover {
  color: var(--main-color);
}

.Sidebar__itemInner.active {
  border-radius: var(--border-radius);
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--second-color)
  );
  color: var(--txt-white);
}
