.Topnav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--topnav-height);
}

.Topnav__search {
  position: relative;
  height: 50px;
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.Topnav__search > input {
  height: 100%;
  width: 100%;
  padding: 10px 60px 10px 20px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  color: var(--txt-color);
  background-color: var(--main-bg);
}

.Topnav__search > i {

}

.TopnavRight {
  display: flex;
  align-items: center;
}

.TopnavRight__item ~ .TopnavRight__item {
  margin-left: 30px;
}

.TopnavRight__user {
  display: flex;
  align-items: center;
}

.TopnavRight__userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.TopnavRight__userImage > img {
  width: 100%;
}

.TopnavRight__userName {
  font-size: 1rem;
  font-weight: 600;
}