.Badge {
  padding: 6px 11px;
  color: var(--txt-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.Badge_danger {
  background-color: var(--main-color-red);
}

.Badge_success {
  background-color: var(--main-color-green);
}

.Badge_primary {
  background-color: var(--main-color-blue);
}

.Badge_warning {
  background-color: var(--main-color-orange);
}