.Modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal__body {
  position: relative;
  padding: 1.25rem 1.5rem;
  background: #455560;
  box-shadow: 0px 2px 5px rgba(38, 53, 104, 0.25);
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  max-width: 800px;
}

.Modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #FFFFFF;
}

.Modal__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.Modal__close {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #7f7f7f;
}

.Modal__close:hover {
  color: black;
}
