.Table__wrapper {
  overflow-y: auto;
}

.Table {
  width: 100%;
  min-width: 400px;
  border-spacing: 0;
}

.Table__pagination {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.Table__pagination ~ .Table__paginationItem {
  margin-left: 10px;
}

.Table__paginationItem {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Table__paginationItem.active, .Table__paginationItem.active:hover {
  background-color: var(--main-color);
  color: var(--txt-white);
  font-weight: 600;
}

.Table__paginationItem:hover {
  color: var(--txt-white);
  background-color: var(--second-color);
}