.Typography {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #030229;
}

.TextAlign-center {
  text-align: center;
}

.TextAlign-left {
  text-align: left;
}

.TextAlign-right {
  text-align: right;
}

.TextAlign-justify {
  text-align: justify;
}
